.wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.login-container {
    margin-top: 70px;
    width: 760px;
    height: 500px;
}

.form-container {
    margin-top: 100px;
    text-align: center;
    width: 380px;
    float: right;
    display: flex;
    flex-direction: column;
}

.form-container span {
    font-size: 28px;
    margin-bottom: 50px;
}

.form-container input {
    background-color: #E8E8E8;
    border: none;
    border-radius: 5px;
    width: 320px;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 10px;
}

.form-container button {
    color: #ffffff;
    background-color: #28BB86;
    border: none;
    border-radius: 5px;
    width: 320px;
    height: 40px;
}

.form-container button:hover {
    cursor: pointer;
}

.message-container {
    float: left;
    text-align: center;
    width: 350px;
    height: 500px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(48,206,148);
    background: linear-gradient(180deg, rgba(48,206,148,1) 0%, rgba(24,104,75,1) 100%);

}

.message {
    color: #ffffff;
    margin-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
}


.message span {
    font-size: 40px;
}